* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: red
}

h1 {
    font-family: SNES;
    color: red;
    font-style: justify;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    font-family: SNES;
}

nav li {
    display: inline-block;
    width: 10%;
    padding: 5px 10px;
    text-align: center;
    color: red;
}

nav li:hover {
    background-color: red;
    color: white;
}